<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfSettingsTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WpfSettingsTest.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfSettingsTest.Properties.Settings>
            <setting name="FontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="TextFont" serializeAs="String">
                <value>Algerian</value>
            </setting>
            <setting name="RequiredUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
        </WpfSettingsTest.Properties.Settings>
        <WpfSettingsTest.AppSettings>
            <setting name="TextFont" serializeAs="String">
                <value />
            </setting>
            <setting name="TextFontSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Background" serializeAs="String">
                <value />
            </setting>
        </WpfSettingsTest.AppSettings>
    </userSettings>
</configuration>